@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

button:focus {
  @apply outline-none ring-2 ring-teal-500 ring-offset-2;
}

@keyframes marquee-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  animation: marquee-slow 60s linear infinite;
}
